page-calculate {
    .font{
        font-family:Arial, Helvetica, sans-serif;
    }
    .fc{
        color: aliceblue;
    }
    .top{
        margin-top: 40px;
    }
    .btn {
        background-color: rgb(151, 39, 58);
      }
      
      .btn:hover {
        background-color: rgb(241, 137, 155);
      }
      
      .btn:focus {
        background-color: rgb(228, 70, 97);
      
        /* The outline parameter surpresses the border
        color / outline when focused */
        outline: 1;
      }
      
      .btn:active {
        background-color: rgb(151, 39, 58);
      }
      .bg{
        background: #FFAFBD;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
}
